<table class="ui selectable striped table">
     <thead>
        <tr>
          <th>应用分组</th>
          <th>应用名称</th>
          <th>功能描述</th>
          <th>仓库地址</th>
          <th>部署目录</th>
          <th>监控地址</th>
          <th>status</th>
          <th>创建时间</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>API</td>
          <td>restful</td>
          <td>4</td>
          <td>https://github.com/zhyq0826/ember-app-semantic-ui-layout</td>
          <td>/home/ubuntu/workerspace/ember-app-semantic-ui-layout</td>
          <td>zabbix.host.com/app/ember-app-semantic-ui-layout</td>
          <td class="positive">可用</td>
          <td>2018-1-1 12:00:00</td>
        </tr>
      </tbody>
</table>