<table class="ui selectable striped table">
     <thead>
        <tr>
          <th>分组</th>
          <th>名称</th>
          <th>CPU</th>
          <th>RAM</th>
          <th>public ip</th>
          <th>private ip</th>
          <th>status</th>
          <th>创建时间</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>API</td>
          <td>restful</td>
          <td>4</td>
          <td>12</td>
          <td>178.10.21.9</td>
          <td>178.10.21.9</td>
          <td class="positive">可用</td>
          <td>2018-1-1 12:00:00</td>
        </tr>
      </tbody>
</table>