<div class="ui four cards">
  <div class="red card">
    <div class="content">
      <h3 class="ui red header">
        磁盘使用警告
      </h3>
      <div class="description">
          主机 10.10.234.72 磁盘使用超过 80%
      </div>
    </div>
    <div class="extra content">
    </div>
  </div>
  <div class="orange card">
    <div class="content">
      <h3 class="ui orange header">
        内存使用警告
      </h3>
      <div class="description">
          主机 10.10.234.72 内存使用超过 100%
      </div>
    </div>
    <div class="extra content">
    </div>
  </div>
  <div class="yellow card">
    <div class="content">
      <h3 class="ui yellow header">
        流量警告
      </h3>
      <div class="description">
          主机 10.10.234.72 内存使用超过 100%
      </div>
    </div>
    <div class="extra content">
    </div>
  </div>
  <div class="pink card">
    <div class="content">
      <h3 class="ui pink header">
        流量警告
      </h3>
      <div class="description">
          主机 10.10.234.72 内存使用超过 100%
      </div>
    </div>
    <div class="extra content">
    </div>
  </div>
</div>